h2 {
    color:rgb(47, 47, 197);
    font-family:verdana;
}

td:hover {
    background-color:rgb(140, 211, 235);
}



th {
    font-family:san-serif;
    text-align:center;
    font-size:100%;
    padding-right: 60px;
}

td {
    border-bottom:1px solid rgb(8, 8, 9);
    padding-right:60px;
}

a:link, a:active {
    color:lightblue;
    background-color:transparent;
}

a:hover {
    background-color:rgb(49, 44, 44);
    color:white;
    padding:4px;
}

a:visited {
    color:grey;
    text-decoration:underline;
}

button {
    color:black;
    border-radius:3px;
}