{% extends "master.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    {% include "header.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static "details.css" %}">
    {%endblock %}

    {% block content %}
     <table>
          <tr>
            <th>Firstname</th>
            <td>{{slug.firstname}}</td>
          </tr>
          <tr>
            <th>Lastname</th>
            <td>{{slug.lastname}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{slug.email}}</td>
          </tr>
          <tr>
            <th>date joined</th>
            <td>{{slug.date_joined}}</td>
          </tr>
     </table>

        <button onclick="document.location='/members'">Back</button>
    {% endblock %}
</html>
