{% extends "master.html"%}
{% load static %}
<DOCTYPE! html>
    <html>
        {% include "header.html" %}

        {%block title%}
        Homepage
        {%endblock%}

        
        

        {%block head%}
            <link rel="icon" type="image/x-icon" href="{% static '/images/ico/favicon.ico' %}">
            <link rel="stylesheet" href="{% static 'home.css' %}">
        {%endblock%}

        {% block content %}


            <ul>
                <li><a href="/members">Members</a></li>
                <li><a href="/games">Play games</a></li>
                <li><a href="/admin">Admin Login</a></li>
            </ul>

            <h2> Homepage</h2></br><hr>


            
            <div>
            <img id="pic" src="{%static '/images/bulboff.gif' %}" style="width:200px;height:300px;"></br>
            <hr style="color:white">
            <script>
                function picture(ch) {
                    var pic;
                    if (ch==0){
                        pic="{% static '/images/bulboff.gif' %}"
                    } else {
                        pic="{% static '/images/bulbon.gif' %}"
                    }
                    document.getElementById("pic").src = pic;
                }
            </script>
    
            <button onclick="picture(0)">Bulb off</button>
            <button onclick="picture(1)">Bulb on</button>
            <pre>
             Hello there,
             if you're here,it's simply because i want you to be.
             As this is only a test App
            </pre>
            </div>




            <iframe src="/" name="memb_ers" title="members sub-page">
            </iframe>

                <p>You can view the list of members from here ☝🏽</p>
                <b><a href="/members" target="memb_ers">Click</a></b>

        {% endblock %}
        

    <html>