{% extends "master.html" %}
{% load static %}
<DOCTYPE! html>
<html>
    {% include "header.html" %}
    {% block title %}
    Members
    {% endblock %}

    {% block head %}
        <link rel="stylesheet" href="{% static "members.css" %}">
    {% endblock %}

    <h2>Members</h2>
    {% block content %}            
    <ul>
        <table>
            
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th></th></br>
        </tr>
        {% for x in members %}
        <tr>
            <td>{{x.firstname}}</td>
            <td>{{x.lastname}}</td>
            <td><button onclick="document.location='/members/details/{{x.slug}}'">Explore</button>
        {% endfor %}
        </tr>
    </table>
    </ul>

    <a href="\">Previous Page</a>
    {% endblock %}
    
</html>